<style>

  .over-line{
    border-color: #ff6000 !important;
  }

  .box {
    border: 3px solid #E7E7E7;
    border-radius: 6px 6px 6px 6px;
    margin: 0px;
    padding: 20px 10px 20px 10px;
  }

  .treebox {
    overflow: auto;
    max-height: 500px;
  }

  .droptreebox {
    overflow: auto;
    max-height: 300px;
  }

  .c-ul {border: 1px solid #FFFFFF;}
  .c-li {background-color: #FFFFFF;}
  .c-liSelected {background-color: #FFFFFF;}
  .c-iExpanded {border: 1px solid #FFFFFF}
  .c-iCollapsed {border: 1px solid #FFFFFF}
  .c-iLeaf {border: 1px solid #FFFFFF}

  treecontrol.tree-light li.tree-leaf {
    font-weight: normal;
  }

  treecontrol.tree-light li .tree-selected {
    font-weight: normal;
  }

  .console {
    padding: 20px 50px 0px 50px;
    background-color: #ffffff;
    height: 100%;
  }

</style>

<div class="console">

  <div class="box droptreebox" id="dropzone">

    <div id="tree-box-list" aria-dropeffect="copy execute">
      {{dropMessage}}
    </div>

    <treecontrol class="tree-light"
                 tree-model="extensionNodes"
                 options="treeOptions"
                 expanded-nodes="expandedExtensionNodes"
                 on-selection="onExtensionNodeSelected(node, selected)">

      <b ng-style="node.selected ? { 'color':'#FF0000'} : { 'color':'#00'}">{{node.label}}</b>{{node.value}}

    </treecontrol>

  </div>

  <br>

  <div style="min-height: 100px">
  </div>

</div>
